## Data Preprocessing

In [3]:
import pandas as pd
import numpy as np

In [6]:
credits= pd.read_csv('tmdb_5000_credits.csv')
movies= pd.read_csv('tmdb_5000_movies.csv')

In [12]:
credits.head(2)

,movie_id,title,cast,crew
0,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."

In [13]:
credits.shape

(4803, 4)

In [15]:
movies.head(2)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2007-05-19,961000000,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500

In [14]:
movies.shape

(4803, 20)

In [49]:
main_movie = pd.merge(credits, movies, on='title', how='right')
main_movie.head()

,movie_id,title,cast,crew,budget,genres,homepage,id,keywords,original_language,...,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,vote_average,vote_count
0,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de...",237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,...,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,7.2,11800
1,285,Pirates of the Caribbean: At World's End,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de...",300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,...,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2007-05-19,961000000,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",6.9,4500
2,206647,Spectre,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de...",245000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.sonypictures.com/movies/spectre/,206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",en,...,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...","[{""iso_3166_1"": ""GB"", ""name"": ""United Kingdom""...",2015-10-26,880674609,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,6.3,4466
3,49026,The Dark Knight Rises,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de...",250000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",http://www.thedarkknightrises.com/,49026,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",en,...,"[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-07-16,1084939099,165.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The Legend Ends,7.6,9106
4,49529,John Carter,"[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de...",260000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://movies.disney.com/john-carter,49529,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",en,...,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}]","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-03-07,284139100,132.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"Lost in our world, found in another.",6.1,2124

In [24]:
movie=main_movie[['movie_id','title','overview','genres','keywords','cast','crew']]
movie.head()

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...","[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...","[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,A cryptic message from Bond’s past sends him o...,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...","[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...","[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...","[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"John Carter is a war-weary, former military ca...","[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 818, ""name"": ""based on novel""}, {""id"":...","[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [22]:
movie.shape

(4809, 7)

In [26]:
movie.isnull().sum()

movie_id    0
title       0
overview    0
genres      0
keywords    0
cast        0
crew        0
dtype: int64

In [25]:
movie.dropna(inplace= True)

C:\Users\91889\AppData\Local\Temp\ipykernel_22996\466261492.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movie.dropna(inplace= True)

In [29]:
movie.duplicated().sum()

np.int64(0)

In [34]:
movie.iloc[0].genres

'[{"id": 28, "name": "Action"}, {"id": 12, "name": "Adventure"}, {"id": 14, "name": "Fantasy"}, {"id": 878, "name": "Science Fiction"}]'

In [35]:
import ast

In [36]:
def convert(text):
    L = []
    for i in ast.literal_eval(text):
        L.append(i['name']) 
    return L

In [47]:
# movie['genres'] = movie['genres'].apply(convert)
# movie['keywords'] = movie['keywords'].apply(convert)
# movie['cast'] = movie['cast'].apply(convert)
# movie['crew'] = movie['crew'].apply(convert)

In [39]:
movie.head()

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","[Sam Worthington, Zoe Saldana, Sigourney Weave...","[Stephen E. Rivkin, Rick Carter, Christopher B..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[Adventure, Fantasy, Action]","[ocean, drug abuse, exotic island, east india ...","[Johnny Depp, Orlando Bloom, Keira Knightley, ...","[Dariusz Wolski, Gore Verbinski, Jerry Bruckhe..."
2,206647,Spectre,A cryptic message from Bond’s past sends him o...,"[Action, Adventure, Crime]","[spy, based on novel, secret agent, sequel, mi...","[Daniel Craig, Christoph Waltz, Léa Seydoux, R...","[Thomas Newman, Sam Mendes, Anna Pinnock, John..."
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...,"[Action, Crime, Drama, Thriller]","[dc comics, crime fighter, terrorist, secret i...","[Christian Bale, Michael Caine, Gary Oldman, A...","[Hans Zimmer, Charles Roven, Christopher Nolan..."
4,49529,John Carter,"John Carter is a war-weary, former military ca...","[Action, Adventure, Science Fiction]","[based on novel, mars, medallion, space travel...","[Taylor Kitsch, Lynn Collins, Samantha Morton,...","[Andrew Stanton, Andrew Stanton, John Lasseter..."

In [42]:
movie['cast'] = movie['cast'].apply(lambda x:x[0:3])

In [43]:
def fetch_director(text):
    L = []
    for i in ast.literal_eval(text):
        if i['job'] == 'Director':
            L.append(i['name'])
    return L

In [46]:
movie['overview'] = movie['overview'].apply(lambda x:x.split())

In [51]:
movie.sample(5)

,movie_id,title,overview,genres,keywords,cast,crew
4802,14337,Primer,"[Friends/fledgling, entrepreneurs, invent, a, ...","[Science Fiction, Drama, Thriller]","[distrust, garage, identity crisis, time trave...","[Shane Carruth, David Sullivan, Casey Gooden]","[Shane Carruth, Shane Carruth, Shane Carruth, ..."
2401,175541,Black Nativity,"[A, street-wise, teen, from, Baltimore, who, h...","[Drama, Music]","[musical, based on stage musical, woman direct...","[Forest Whitaker, Angela Bassett, Jennifer Hud...","[Kasi Lemmons, Kasi Lemmons, Kristi Zea, Anast..."
3310,403,Driving Miss Daisy,"[The, story, of, an, old, Jewish, widow, named...","[Comedy, Drama]","[individual, black people, chauffeur, atlanta,...","[Morgan Freeman, Jessica Tandy, Dan Aykroyd]","[Hans Zimmer, Victor Kempster, Crispian Sallis..."
4246,51820,The Salon,"[A, Beauty, shop, owner, finds, romance, as, s...",[Comedy],[independent film],"[Dondre Whitfield, Kym Whitley, Monica Calhoun]",[Mark Brown]
1568,2755,About Schmidt,"[66-year-old, Warren, Schmidt, is, a, retired,...","[Drama, Comedy]","[wife husband relationship, channel surfing, m...","[Jack Nicholson, Kathy Bates, Hope Davis]","[Alexander Payne, Alexander Payne, Emjay Olson..."

In [52]:
#space remover
def collapse(L): 
    L1 = []
    for i in L:
        L1.append(i.replace(" ",""))
    return L1

In [54]:
movie['cast'] = movie['cast'].apply(collapse)
movie['crew'] = movie['crew'].apply(collapse)
movie['genres'] = movie['genres'].apply(collapse)
movie['keywords'] = movie['keywords'].apply(collapse)

In [55]:
movie.sample(5)

,movie_id,title,overview,genres,keywords,cast,crew
2824,184,Jackie Brown,"[Jackie, Brown, is, a, flight, attendant, who,...","[Comedy, Crime, Romance]","[airport, underworld, armsdeal, weapon, police...","[PamGrier, SamuelL.Jackson, RobertForster]","[QuentinTarantino, QuentinTarantino, LawrenceB..."
3065,13201,Deuces Wild,"[1950s, New, York, City., A, bad, and, bloody,...","[Action, Crime, Drama, Romance]","[gang, newyorkcity, drugoverdose]","[StephenDorff, FairuzaBalk, BradRenfro]","[ScottKalvert, PaulKimatian, ChristopherGambale]"
682,12177,The Love Guru,"[Born, in, America, and, raised, in, an, India...","[Comedy, Romance]","[sport, icehockey, guru, comedy, bollywood, in...","[MikeMyers, JessicaAlba, JustinTimberlake]","[BillyWeber, RogerBirnbaum, GaryBarber, Michae..."
1969,177,The Fisher King,"[Two, troubled, men, face, their, terrible, de...","[Comedy, Drama]","[holygrail, homelessperson, lossoflover, menta...","[JeffBridges, RobinWilliams, MercedesRuehl]","[TerryGilliam, RogerPratt, GeorgeFenton, Howar..."
1732,11516,Winged Migration,"[The, cameras, of, Jacques, Perrin, fly, with,...",[Documentary],"[ocean, lake, bird, horse, parrot, owl, ornith...","[PhilippeLabro, JacquesPerrin]","[Marie-JosèpheYoyotte, JacquesPerrin, BrunoCou..."

In [56]:
movie['tags'] = movie['overview'] + movie['genres'] + movie['keywords'] + movie['cast'] + movie['crew']

In [57]:
new = movie.drop(columns=['overview','genres','keywords','cast','crew'])

In [58]:
new.head()

,movie_id,title,tags
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin..."
1,285,Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d..."
2,206647,Spectre,"[A, cryptic, message, from, Bond’s, past, send..."
3,49026,The Dark Knight Rises,"[Following, the, death, of, District, Attorney..."
4,49529,John Carter,"[John, Carter, is, a, war-weary,, former, mili..."

In [59]:
new['tags'] = new['tags'].apply(lambda x: " ".join(x))

In [60]:
new.head()

,movie_id,title,tags
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha..."
2,206647,Spectre,A cryptic message from Bond’s past sends him o...
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...
4,49529,John Carter,"John Carter is a war-weary, former military ca..."

## Vectorization

In [61]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(max_features=5000,stop_words='english')

In [62]:
vector = cv.fit_transform(new['tags']).toarray()

In [63]:
vector.shape

(4806, 5000)

In [65]:
from sklearn.metrics.pairwise import cosine_similarity
similarity = cosine_similarity(vector)

In [66]:
similarity

array([[1.        , 0.07215375, 0.02332847, ..., 0.01617539, 0.01732397,
        0.        ],
       [0.07215375, 1.        , 0.03299144, ..., 0.02287545, 0.        ,
        0.        ],
       [0.02332847, 0.03299144, 1.        , ..., 0.01849001, 0.        ,
        0.        ],
       ...,
       [0.01617539, 0.02287545, 0.01849001, ..., 1.        , 0.08238526,
        0.05751973],
       [0.01732397, 0.        , 0.        , ..., 0.08238526, 1.        ,
        0.06160411],
       [0.        , 0.        , 0.        , ..., 0.05751973, 0.06160411,
        1.        ]], shape=(4806, 4806))

## Main Function

In [71]:
new[new['title'] == 'Batman'].index[0]

np.int64(1360)

In [68]:
def recommend(movie):
    index = new[new['title'] == movie].index[0]
    distances = sorted(list(enumerate(similarity[index])),reverse=True,key = lambda x: x[1])
    for i in distances[1:6]:
        print(new.iloc[i[0]].title)

In [70]:
recommend('Batman')

Batman
Batman Returns
Batman
Batman & Robin
Batman Forever

In [72]:
import pickle

In [73]:
pickle.dump(new,open('movie_list.pkl','wb'))
pickle.dump(similarity,open('similarity.pkl','wb'))